.product-list{
  display: flex;
  flex-wrap:wrap;
  gap: 10px;
  margin: 20px;
}
.card{
  width:250px;
  border-radius: 5px;
  padding: 16px;
  box-shadow: 5px 5pxx 10px gray;
}
img{
  /* max-width: 100%; */
  width:100%;
  height: 250px;
  object-fit: contain;
}